
sonictelescope/.DS_Store

sonictelescope/www/js/.DS_Store

sonictelescope/sonictelescope.xcodeproj/project.xcworkspace/xcuserdata/dave.xcuserdatad/UserInterfaceState.xcuserstate

sonictelescope/sonictelescope.xcodeproj/project.xcworkspace/xcuserdata/henrik.xcuserdatad/UserInterfaceState.xcuserstate

sonictelescope/sonictelescope.xcodeproj/project.xcworkspace/xcuserdata/henrik.xcuserdatad/UserInterfaceState.xcuserstate

sonictelescope/sonictelescope.xcodeproj/project.xcworkspace/xcuserdata/henrik.xcuserdatad/UserInterfaceState.xcuserstate

sonictelescope/www/audio/.DS_Store

sonictelescope/www/.DS_Store

sounds/.DS_Store
