body {
    font-family: helvetica, sans-serif;
    background: #000 url(../img/spinny5_small.gif) no-repeat 0 20px;
    color: #ddd;
    margin: 0;
    padding: 0;
}
a {
    color: orange;
}

#spinny {
    position: absolute;
    left: 0;
    top: 0;
    width: 320px;
    height: 480px;
}

#o-object {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #fff;
    margin-top: 400px;
}

#output {
    position: absolute;
    right: 10px;
    bottom: 8px;
    font-size: 8px;
}